<div class="home">
    <div class="search-bar-container">
        <label for="search-bar" class="search-bar-label">Renseignez vos ingrédients</label>
        <div class="search-bar">
            <input type="text" id="search-bar" class="search-bar-input" autocomplete="off" placeholder="Tomates, poulet, ..." (input)="handleChange($event)" />
            <button class="search-bar-button">
                <span class="pi pi-search"></span>
            </button>
        </div>
        <auto-complete-panel />
    </div>
    <div class="recipe-cards-container">
        @for (recipe of recipesOfTheDay; track $index) {
            <recipe-card [recipeCard]="recipe" />
        }
    </div>
</div>
