@import '../../../constant.less';

.ingredients-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    gap: 32px;
    position: absolute;
    width: 100%;
    max-height: 100px;

    .autocomplete-panel-container {
        width: 100%;
        height: fit-content;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        max-height: inherit;
        overflow-y: auto;
    
        display: grid;
    
        .autocomplete-ingredient {
            height: 32px;
            line-height: 32px;
            padding-left: 12px;
            border-bottom: 1px solid @borderColer;
    
            cursor: pointer;
    
            &:last-child {
                border: none;
            }
    
            &:hover {
                background-color: #80808017;
            }
        }
    
    }
}
